*{
    margin: 0;
    padding: 0;
}

.Menu{

    background-color: rgb(201, 160, 114);
}

h2{
    padding: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border: 4px solid rgb(255, 255, 255);
}

li{
    list-style-position: inside;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.smol{
    font-size: 10px;
    left: 40px;
}

#top{
    text-align: center;
}
