*{
    margin: 0;
    padding: 0;
}

.Menu{
    width: auto;
    height: 800px;

    text-align: center;

    margin: 40px;

    border: 5px solid black;
    background-color: gray;
}

h2{
    padding: 10px;
}

img{
    border: 2px solid black;
}

li{
    list-style-position: inside;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}
